<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Seasonvar & ColdFilm" />
    <meta property="og:image" content="img/logo.jpg" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <title>Seasonvar & ColdFilm</title>
</head>

<body>
    <div class="container" id="app">
        <div class="row justify-content-center">
            <img src="img/logo.jpg" class="img-fluid" alt="Seasonvar">
        </div>
        <!-- <form class="mx-auto">
            <div class="form-group row justify-content-center">
                <input type="url" class="form-control" placeholder="http://" v-model="url" autofocus>
                <small class="form-text text-muted">document.querySelector('video').currentSrc</small>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn" v-on:click="openHD">Открыть</button>
            </div>
        </form>
        <div class="row justify-content-center mt-5" v-if="error_">
            <div class="alert alert-danger" role="alert">
                Неверный адрес!
                <br> Попробуй расширение!
            </div>
        </div> -->
        <div class="row justify-content-center mt-3">
            <h4>Просмотр <a href="http://seasonvar.ru/" target="_blank">Seasonvar</a>
             и <a href="http://coldfilm.cc/" target="_blank">ColdFilm</a> в HD по прямым ссылкам</h4>
        </div>
        <div class="row justify-content-center align-items-center mt-3 extension">
            <h4>Скачать:</h2>
            <a class="border-right" href="http://chrome.google.com/webstore/detail/seasonvar-coldfilm/lhjmhjogpfdghanacgdohcnnhoojopdo" target="_blank">
                <img src="img/chrome.png" title="Chrome Extension" alt="Opera Extension"></a>
            <a href="ext/seasonvar_coldfilm-1.0.0.6-fx.xpi">
                <img src="img/firefox.png" title="Firefox Extension" alt="Firefox Extension"></a>
<!--             <a href="ext/opera.crx">
                <img src="img/opera.png" title="Opera Extension" alt="Opera Extension"></a> -->
        </div>
        <div class="row justify-content-center mt-4 use">
            <p>Установка расширения:</p>
            <ul>
                <li>установка в Chrome - из магазина</li>
                <li>установка в Firefox - автоматическая</li>
<!--                 <li>установка в Opera - автоматическая</li> -->
            </ul>
        </div>
        
        <div class="row justify-content-center mt-4 use">
            <p>Использование расширения:</p>
            <ul>
                <li>выбрать выбрать сериал/серию</li>
                <li>кликнуть на иконку расширения</li>
                <li>в новой вкладке откроется серия в HD (если есть)</li>
            </ul>
        </div>

        <div class="row justify-content-center mt-5 use">
            <p>✉ <a href="mailto:mail@koljasha.ru">Koljasha</a> © 2018</p>
        </div>
    </div>
</body>

</html>
