body {
    background-color: black;
    color: rgb(210, 234, 255);
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  z-index: -2;
}

/*form {
    width: 60%;
}

button {
    background-color: rgb(15, 0, 110);
}*/

a {
    color: rgb(210, 234, 255);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 130, 238);
}

.alert {
    text-align: center;
}

.extension img {
    width: 64px;
}

.extension a {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.use {
    font-size: .8em;
}

.use p{
    font-size: 1em;
}

iframe {
  margin-left: 1em;
  margin-right: 1em;
}